/* src/components/FlowLayerBackground.css */

.flow-layer-background {
  user-select: none;
}

.layer-background {
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.layer-label {
  user-select: none;
  white-space: nowrap;
  transition: all 0.3s ease;
}

.layer-boundary {
  transition: all 0.3s ease;
}
